<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!--<pattern>%d{HH:mm:ss.SSS} [${springAppName},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] 
				[%thread] %-5level %logger{36} - %msg%n </pattern> -->
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>C://logs/NRDEMO-1.log</file>
		<!-- encoder changed -->
		<encoder class="com.newrelic.logging.logback.NewRelicEncoder" />
	</appender>
	<appender name="ASYNC"
		class="com.newrelic.logging.logback.NewRelicAsyncAppender">
		<appender-ref ref="FILE" />
	</appender>

	<root level="INFO">
		<appender-ref ref="ASYNC" />
		<appender-ref ref="STDOUT" />
	</root>

	<!-- <root level="trace"> -->
	<!-- <appender-ref ref="STDOUT" /> -->
	<!-- </root> -->
</configuration>